<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marvel.communityforum.dao.LoginTicketMapper">
    <sql id="selectFields">
        id, user_id, ticket, status, expired
    </sql>

    <insert id="insertTicket" parameterType="LoginTicket" keyProperty="id">
        insert into login_ticket (user_id, ticket, status, expired)
        values (#{userId}, #{ticket}, #{status}, #{expired})
    </insert>

    <select id="selectByTicket" resultType="LoginTicket">
        select <include refid="selectFields"></include>
        from login_ticket
        where ticket = #{ticket}
    </select>

    <update id="updateStatus">
        update login_ticket
        set status = #{status}
        where ticket = #{ticket}
    </update>
</mapper>